.github/workflows/build.yml
[
  {
    "id": "download_node",
    "type": "http request",
    "z": "flow_id",
    "name": "Download boot.dol",
    "method": "GET",
    "ret": "bin",
    "paytoqs": "ignore",
    "url": "https://example.com/boot.dol",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 300,
    "y": 100,
    "wires": [
      [
        "file_write"
      ]
    ]
  },
  {
    "id": "file_write",
    "type": "file",
    "z": "flow_id",
    "name": "Save boot.dol",
    "filename": "/home/user/boot.dol",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 550,
    "y": 100,
    "wires": [
      [
        "debug"
      ]
    ]
  },
  {
    "id": "debug",
    "type": "debug",
    "z": "flow_id",
    "name": "Downloaded",
    "active": true,
    "x": 750,
    "y": 100,
    "wires": []
  },
  {
    "id": "inject",
    "type": "inject",
    "z": "flow_id",
    "name": "Start Download",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 100,
    "wires": [
      [
        "download_node"
      ]
    ]
  }
]
